---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';
import ThreeEaglesPdf from '../assets/examples/Three-Eagles.pdf';
import Favorites1 from '../assets/Favorites1.jpg';
import Favorites2 from '../assets/Favorites2.jpg';
import Quotes from '../assets/Quotes.jpg';
---

<Layout
	title="Decide what you want to write about"
	description=""
>
		<p>
			Each Eagle Scout writes up whatever stories they want to tell about their journey through scouting, their favorite events, their Eagle Project and whatever else they want to talk about. 
		</p>

    <ul>
      <li>
        Write about your perspective on the scouting experience
      </li>
      <li>
        Write about your Eagle Scout project
      </li>
      <li>
        Write about a unique / favorite event or outing
      </li>
      <li>
        Write about some learned skill or experience
      </li>
    </ul>
    <p class="blockquote">
      Eagle projects usually have photographs taken and shared, making it easier to find photos to include in the program. And information written for the Eagle Badge application can be a starting point for this section.
    </p>		
		<h3>Photos</h3>
		<p>
			Send me lots of pictures (in the highest resolution possible) and I'll figure out how to tell the story. OR point me at the Smugmug gallery that has the photos of your Eagle project and let me choose. Note that I edit the photos so that faces are recognizable and the photo tells a story: I will ask if you want to put a caption under the photo as well.
		</p>
		<h3>An Example of Writing it Your Way</h3>
    <p>
			Take specific note of <a href={ThreeEaglesPdf}>this program for Three Eagle Scouts</a>
		</p>
		<p>
			This program for all three scouts shows how each scout presented what they wanted in the way they wanted. </p>
		<ul>
			<li>
				I had to switch typefaces for one scout because he wrote so many little snippets of text and I couldn't figure out how to fit it all in with my usual typeface
			</li>
			<li>
				Two of the scouts didn't want to highlight their leadership and merit badges and that was their personal choice. 
			</li>
		</ul>
		<p>
			Each Eagle scout gets to choose what how much to write and what to write about.
		</p>
		<h3>Favorites Lists</h3>
		<p>
			I try to match the design with the personality of the scout, back when I knew the scouts personally.
		</p>
		<div class="text-center">
			<h4>A Traditional Favorites List</h4>
			<Image src={Favorites1} alt="A classic presentation of the favorites chart" />
		</div>
		<div class="text-center">
			<h4>A more "fun" Favorites List</h4>
			<Image src={Favorites2} alt="A fun update" />
		</div>
		<h3>Quotes or Poetry</h3>
		<p>Feel free to include quotes, poetry, or anything else that might inspire you.</p>
		<Image src={Quotes} alt="Quotes from Ruth Bader Ginsburg" />
</Layout>

<style lang="scss">
	h2 {
		text-align: center;
	}
	.text-center {
		text-align: center;
	}
	img {
		max-width: 100%;
		object-fit: contain;
	}

</style>