---
const links = [
  {
    title: "Intro",
    url: '/',
    step: ''
  },
  {
    title: "Covers",
    url: '/covers',
    step: '1'
  },
  {
    title: "Write",
    url: '/write',
    step: '2'
  },
  {
    title: "Examples",
    url: '/examples',
    step: '3'
  },
  {
    title: "Final Details",
    url: '/misc',
    step: '4'
  },
]
---
<nav>
  <ul>
    {
      links.map(item => (
        <li>
          <a href={item.url}>{item.title}</a>
          <div>{item.step ? `Step ${item.step}` : ''}</div>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  ul {
    margin:auto;
    list-style: none;
    padding: 0;
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(172, 182, 138);
    padding:0.4rem 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    li {
      font-size:1.3rem;
      a {
        text-decoration: none;
      }
      div {
        text-align: center;
        font-weight: 700;
        font-size: 1.0rem;
        color: lightgray;
      }
    }
  }
</style>